<header class="jumbotron my-4">
    <h1 class="display-3">Bienvenid@ a tu tienda en linea Vuelo 93</h1>
    <p class="lead">Tu tienda de productos hechos en Ecuador</p>
</header>

  <div class="row text-center">

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <p class="card-text">Nombre del producto.</p>
        </div>
        <div class="card-footer">
          <a href="productos/ver-producto" class="btn btn-success">Ver producto</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <p class="card-text">Nombre del producto.</p>
        </div>
        <div class="card-footer">
          <a href="productos/ver-producto" class="btn btn-success">Ver producto</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <p class="card-text">Nombre del producto.</p>
        </div>
        <div class="card-footer">
          <a href="productos/ver-producto" class="btn btn-success">Ver producto</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <p class="card-text">Nombre del producto.</p>
        </div>
        <div class="card-footer">
          <a href="productos/ver-producto" class="btn btn-success">Ver producto</a>
        </div>
      </div>
    </div>

  </div>