
<div class="container">
      <h2 class="mt-4 mb-3" style="font-size: 40px;">Productos agregados al Carrito</h2>
      <br><br>
      <nav aria-label="breadcrumb" style="padding: 0.75rem; background-color: #e9ecef; margin-bottom: 1rem;">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Carrito</li>
        </ol>
      </nav>

      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
           <div class="col-lg-9">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Producto</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Total</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td >Nombre</td>
                  <td >Precio</td>
                  <td>Cantidad</td>
                  <td >Total</td>
                  <td><a href="#" class="btn btn-danger">Quitar</a></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-lg-3">
            <h2 class="card-title">SUBTOTAL</h2>

            <ul class="list-group">
              <li class="list-group-item"><h5>Total: $ 10</h5></li>
              <a href="ventas/ordenes" class="btn btn-dark">Ver Orden</a>
            </ul>
          </div>

        </div>
      </div>
    </div>
</div>