<div class="container"><br>
    <h2 class="mt-4 mb-3" style="font-size: 40px;">Datos del Detalle factura</h2>
    <br>
    <nav aria-label="breadcrumb" style="padding: 0.75rem; background-color: #e9ecef; margin-bottom: 1rem;">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Compras</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detalle de Compra</li>
      </ol>
    </nav>
    
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
         <div class="col-lg-12">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Cantidad</th>
                <th scope="col">Producto</th>                  
                <th scope="col">Precio</th>
                <th scope="col">Total</th>                  
              </tr>
            </thead>
            <tbody>
              <tr>
                <td >Cantidad</td>
                <td >Producto</td>
                <td >Precio</td>
                <td >Total</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>