<div class="container"><br>
    <h2 class="mt-4 mb-3" style="font-size: 40px;">Datos de factura</h2>
    <br>
    <nav aria-label="breadcrumb" style="padding: 0.75rem; background-color: #e9ecef; margin-bottom: 1rem;">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Factura</li>
      </ol>
    </nav>

    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
         <div class="col-lg-9">
           <div class="card-body">
            <h5 class="card-title">
              Datos Orden
            </h5>
            <h6>Cedula: </h6>
            <h6 >Nombre: </h6>
            <h6 >Correo: </h6>
            <h6>Telefono: </h6>
            <br>
            <h5 class="card-title">
              Detalle Productos
            </h5>
            <div class="alert alert-light" role="alert">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Subtotal</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                   <td >Nombre</td>
                   <td >Precio</td>
                   <td >Cantidad</td>
                   <td >Subtotal</td>
                   <td><a href="#" class="btn btn-danger">Quitar</a></td>
                 </tr>
               </tbody>
             </table>
           </div>
         </div>
       </div>
       <div class="col-lg-3">
        <h2 class="card-title">Resumen Orden</h2>

        <ul class="list-group">
          <li class="list-group-item"><h5> Total:</h5></li>
          <a href="ventas/compras" class="btn btn-dark" style="margin-top: 12px;">Generar</a>
        </ul>
      </div>
    </div>
  </div>
</div>
