<br>
<div class="container">
    <div class="card mb-3" style="background-color: #e9ecef;">
      <div class="row no-gutters">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h2>Iniciar Sesión</h2>
          </div>
        </div>
      </div>
    </div>
    <br>
    <form ngNativeValidate>
      <div class="form-group">
        <label for="email"> Email:  </label>      
        <input type="email" required class="form-control" id="correo" name="correo" placeholder="Ingrese su correo" autocomplete="off"> 
      </div>
      <br>
      <div class="form-group">
        <label for="pwd"> Contraseña:</label>
        <input type="password" required  class="form-control" id="clave" name="clave" placeholder="Ingrese su clave" autocomplete="off">       
      </div>
      <br>
      <div class="form-group">
        <div class="col-sm-2">
          <button type="submit" class="btn btn-dark"> <span class="glyphicon glyphicon-ok"></span> Ingresar</button>
        </div>      
      </div>    
    </form>
    <br>
    <a href="usuarios/registro" class="card-link">Si no tienes una cuenta aún registrate  aquí</a>
  </div>