<br>
<div class="container">
    <div class="card mb-3" style="background-color: #e9ecef;">
      <div class="row no-gutters">
        <div class="col-md-4"></div>
        <div class="col-md-8">
          <div class="card-body">
            <h2>Registrarse</h2>
          </div>
        </div>
      </div>
    </div>
    <br>
    <form (ngSubmit)="create()" ngNativeValidate>
      <div class="form-group">
        <label for="">Cédula:</label> <input type="text"
          class="form-control" name="cedula" required
          placeholder="Ingrese su cédula" autocomplete="off">
      </div>
      <br>
      <div class="form-group">
        <label for="">Nombre:</label> <input type="text"
          class="form-control" name="nombre" required
          placeholder="Ingrese su nombre" autocomplete="off">
      </div>
      <br>
      <div class="form-group">
        <label for="">Apellido:</label> <input type="text"
          class="form-control" name="apellido" required
          placeholder="Ingrese su apellido" autocomplete="off">
      </div>
      <br>
      <div class="form-group">
        <label for="">Teléfono:</label> <input type="text"
          class="form-control" name="telefono" required
          placeholder="Ingrese su teléfono" autocomplete="off">
      </div>
      <br>
      <div class="form-group">
        <label for="">Dirección:</label> <input type="text"
          class="form-control" name="direccion" required
          placeholder="Ingrese su dirección" autocomplete="off">
      </div>
      <br>
      <div class="form-group">
        <label for="">Correo:</label> <input type="email"
          class="form-control" name="correo" required
          placeholder="Ingrese su correo" autocomplete="off">
      </div>
      <br>
      <div class="form-group">
        <label for="">Contraseña</label> <input type="password"
          class="form-control" name="clave" required placeholder="Ingrese su clave" autocomplete="off">
      </div>
      <br>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-success">Guardar</button>
      </div>
    </form>

  </div>