<div class="container"><br><br>
    <h2 class="text-center" style="font-size: 40px;">{{ titulo }}</h2><br><br>
    <div class="card border-primary mb-3">
      <div class="card-header" style="background-color: #e9ecef;">CATEGORIAS</div>
      <div class="card-body text-primary">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" [routerLink]="['form-categorias']">Agregar</button>
        </div><br>
        <h5 class="card-title" style="margin-bottom: 16px;">Listado de Categorias</h5>      
        <table class="table table-bordered table-striped">
          <thead>
              <tr>
                  <th>id</th>
                  <th>genero</th>
                  <th>modificar</th>
                  <th>eliminar</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let producto of productos">
                  <td>{{producto.id}}</td>
                  <td>{{producto.genero}}</td>              
                  <td>
                    <button class="btn btn-primary" type="button" name="button" [routerLink]="['form-categorias',producto.id]">Editar</button>
                  </td>
                  <td>
                    <button class="btn btn-primary" type="button" name="button" (click)="delete(producto)">Eliminar</button>
                  </td>
              </tr>
          </tbody>
        </table>      
      </div>
    </div>
  </div>